.container {
  margin: auto;
  width: 500px;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

button {
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
}
